<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio 2</title>
    <!-- Bootstrap 4 CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Personal CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Google Font Lato -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet">



</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="nav">
            <a class="nav-item nav-link text-light" href="/">Home</a>
            <a class="nav-item nav-link text-light" href="/projects">Projects</a>
            <a class="nav-item nav-link text-light" href="/contact">Contact</a>
        </div>
    </nav>

    <h1 class="text-center mt-5 mb-5">About Me</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block text-center">
                <div class="">
                    <img src="~/img/dave&allie.jpg" alt="" class="img-look">
                    <h2 class="mt-2">Dave Naugler</h2>
                    <p>I love Hockey and Lacrosse!</p>
                </div>
            </div>
            <div class="col-md-6 center-block">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptate, laborum harum expedita quod quam corrupti nobis quisquam libero provident hic doloribus minus quas exercitationem quasi omnis, facilis sint quos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptate, laborum harum expedita quod quam corrupti nobis quisquam libero provident hic doloribus minus quas exercitationem quasi omnis, facilis sint quos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptate, laborum harum expedita quod quam corrupti nobis quisquam libero provident hic doloribus minus quas exercitationem quasi omnis, facilis sint quos.</p>

            </div>
        </div>
    </div>





</body>

</html>